<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑订单</title>
    <base href="http://localhost:8080/film/">
    <link type="text/css" rel="stylesheet" href="css/style.css" >
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color:red;
        }

        input {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="img/logo2.jpg" >
    <span class="wel_word">编辑场次</span>
    <div>
        <a href="manager/film/list">电影管理</a>
        <a href="manager/match/list">场次管理</a>
        <a href="manager/order/list">订单管理</a>
        <a href="pages/home">返回商城</a>
    </div>
</div>

<div id="main">
    <!--			<form action="manager/film/add" method="post" accept-charset="UTF-8">-->
    <form th:action="@{manager/match/{action}(action=${param.id}?'update':'add',id=${param.id})}" method="post" accept-charset="UTF-8">
        <table>
            <tr>
                <td>id</td>
                <td>电影id</td>
                <td>店名</td>
                <td>放映厅类型</td>
                <td>影票价格</td>
                <td>销量</td>
                <td>创建时间</td>
                <td>剩余空位</td>
                <td>状态</td>
                <td colspan="3">操作</td>
            </tr>
            <tr th:object="${#request.getAttribute('filmMatch')}">
                <td name="id" th:text="*{id}" ></td>
                <td><input name="filmid" type="text" th:value="*{filmid}"/></td>
                <td><input name="location" type="text" th:value="*{location}"/></td>
                <td><input name="halltype" type="text" th:value="*{halltype}"/></td>
                <td><input name="filmprice" type="text" th:value="*{filmprice}"/></td>
                <td><input name="sales" type="text" th:value="*{sales}"/></td>
                <td><input name="begindate" type="datetime-local" th:value="*{begindate}"/></td>
                <td><input name="reseats" type="text" th:value="*{reseats}"/></td>
                <td><input name="status" type="text" th:value="*{status}"/></td>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>


</div>

<div id="bottom">
			<span>
				尚硅谷书城.Copyright &copy;2015
			</span>
</div>
</body>
</html>