<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<base href="http://localhost:8080/film/">
<title>后台管理</title>
<link type="text/css" rel="stylesheet" href="css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="img/logo2.jpg" >
			<span class="wel_word">后台管理系统</span>
			<div>
				<a href="manager/film/list">电影管理</a>
				<a href="manager/match/list">场次管理</a>
				<a href="manager/order/list">订单管理</a>
				<a href="pages/home">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<h1>欢迎管理员进入后台管理系统</h1>
	</div>
	
	<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
	</div>
</body>
</html>