<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carrot.train.mapper.UsersMapper">

    <insert id="insert" parameterType="com.carrot.train.entity.User">
        INSERT INTO f_user(Id, username, password, email)
        VALUES(#{id}, #{username}, #{username}, #{email});
    </insert>

    <update id="update" parameterType="com.carrot.train.entity.User">
        UPDATE f_user
        <set>
            <if test="null != username">username=#{username},</if>
            <if test="null != password">password=#{password},</if>
            <if test="null != email">email=#{email}</if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="findByPrimaryKey" parameterType="String" resultType="com.carrot.train.entity.User">
        SELECT * FROM f_user WHERE id=#{primaryKey}
    </select>

    <select id="findByUserName" parameterType="String" resultType="com.carrot.train.entity.User">
        SELECT * FROM f_user WHERE username=#{primaryKey}
    </select>

</mapper>